<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="connection">
            <h2><span jhiTranslate="gatewayApp.mongocoConnection.detail.title">Connection</span> {{connection.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.mongocoConnection.intID">Int ID</span></dt>
                <dd>
                    <span>{{connection.intID}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.mongocoConnection.articleID">Article ID</span></dt>
                <dd>
                    <span>{{connection.articleID}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.mongocoConnection.languageID">Language ID</span></dt>
                <dd>
                    <span>{{connection.languageID}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.mongocoConnection.observationID">Observation ID</span></dt>
                <dd>
                    <span>{{connection.observationID}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.mongocoConnection.term">Term</span></dt>
                <dd>
                    <span>{{connection.term}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/connection', connection.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
