<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.mongocoConnection.home.title">Connections</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-connection" [routerLink]="['/connection/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="gatewayApp.mongocoConnection.home.createLabel">
            Create new Connection
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.mongocoConnection.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="connections">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gatewayApp.mongocoConnection.intID">Int ID</span></th>
            <th><span jhiTranslate="gatewayApp.mongocoConnection.articleID">Article ID</span></th>
            <th><span jhiTranslate="gatewayApp.mongocoConnection.languageID">Language ID</span></th>
            <th><span jhiTranslate="gatewayApp.mongocoConnection.observationID">Observation ID</span></th>
            <th><span jhiTranslate="gatewayApp.mongocoConnection.term">Term</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let connection of connections ;trackBy: trackId">
                <td><a [routerLink]="['/connection', connection.id, 'view' ]">{{connection.id}}</a></td>
                <td>{{connection.intID}}</td>
                <td>{{connection.articleID}}</td>
                <td>{{connection.languageID}}</td>
                <td>{{connection.observationID}}</td>
                <td>{{connection.term}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/connection', connection.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/connection', connection.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'connection', { outlets: { popup: connection.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
