<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-connection-heading" jhiTranslate="gatewayApp.mongocoConnection.home.createOrEditLabel">Create or edit a Connection</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!connection.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="connection.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.mongocoConnection.intID" for="field_intID">Int ID</label>
                    <input type="number" class="form-control" name="intID" id="field_intID"
                        [(ngModel)]="connection.intID" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.mongocoConnection.articleID" for="field_articleID">Article ID</label>
                    <input type="number" class="form-control" name="articleID" id="field_articleID"
                        [(ngModel)]="connection.articleID" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.mongocoConnection.languageID" for="field_languageID">Language ID</label>
                    <input type="number" class="form-control" name="languageID" id="field_languageID"
                        [(ngModel)]="connection.languageID" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.mongocoConnection.observationID" for="field_observationID">Observation ID</label>
                    <input type="number" class="form-control" name="observationID" id="field_observationID"
                        [(ngModel)]="connection.observationID" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.mongocoConnection.term" for="field_term">Term</label>
                    <input type="text" class="form-control" name="term" id="field_term"
                        [(ngModel)]="connection.term" required/>
                    <div [hidden]="!(editForm.controls.term?.dirty && editForm.controls.term?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.term?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
