<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-article-heading" jhiTranslate="gatewayApp.mongocoArticle.home.createOrEditLabel">Create or edit a Article</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!article.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="article.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.mongocoArticle.intID" for="field_intID">Int ID</label>
                    <input type="number" class="form-control" name="intID" id="field_intID"
                        [(ngModel)]="article.intID" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.mongocoArticle.languageID" for="field_languageID">Language ID</label>
                    <input type="number" class="form-control" name="languageID" id="field_languageID"
                        [(ngModel)]="article.languageID" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.mongocoArticle.connectionID" for="field_connectionID">Connection ID</label>
                    <input type="number" class="form-control" name="connectionID" id="field_connectionID"
                        [(ngModel)]="article.connectionID" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.mongocoArticle.observationID" for="field_observationID">Observation ID</label>
                    <input type="number" class="form-control" name="observationID" id="field_observationID"
                        [(ngModel)]="article.observationID" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
