<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="article">
            <h2><span jhiTranslate="gatewayApp.mongocoArticle.detail.title">Article</span> {{article.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.mongocoArticle.intID">Int ID</span></dt>
                <dd>
                    <span>{{article.intID}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.mongocoArticle.languageID">Language ID</span></dt>
                <dd>
                    <span>{{article.languageID}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.mongocoArticle.connectionID">Connection ID</span></dt>
                <dd>
                    <span>{{article.connectionID}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.mongocoArticle.observationID">Observation ID</span></dt>
                <dd>
                    <span>{{article.observationID}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/article', article.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
