<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="language">
            <h2><span jhiTranslate="gatewayApp.mongocoLanguage.detail.title">Language</span> {{language.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.mongocoLanguage.intID">Int ID</span></dt>
                <dd>
                    <span>{{language.intID}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.mongocoLanguage.code">Code</span></dt>
                <dd>
                    <span>{{language.code}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.mongocoLanguage.description">Description</span></dt>
                <dd>
                    <span>{{language.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/language', language.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
